baseURL = 'https://nicholasdomanico.github.io/'
languageCode = 'en-us'
title = 'Nicholas Domanico'
theme = 'hugo-theme-re-terminal'

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[menu]
[[menu.main]]
name = "Home"
url = "/"
weight = 10

[[menu.main]]
name = "About"
url = "/about"
weight = 10

